body {
  height: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #1c1c1c;
  font-size: 72px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'EB Garamond', sans-serif;
  color: #707070;
  font-size: 28px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
}

h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

h3:hover {
  color: #09f;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'EB Garamond', sans-serif;
  color: #707070;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #111;
  font-size: 28px;
  line-height: 35px;
  font-weight: 400;
  text-transform: none;
}

h6 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'EB Garamond', sans-serif;
  color: #222;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: 400;
}

p {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #707070;
  text-align: center;
}

.button {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  background-color: dimgrey;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #09f;
}

.section-full {
  height: 100%;
}

.section-full._1 {
  position: relative;
  padding-top: 200px;
  padding-bottom: 100px;
  border: 5px none #000;
  background-color: hsla(0, 0%, 100%, 0);
}

.section-full._3 {
  position: static;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: hsla(0, 0%, 94%, .89);
}

.color-section {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #fff;
  opacity: 1;
}

.portfolio-section {
  margin-top: 0px;
  padding: 40px 120px;
  color: dimgrey;
}

.portfolio-column {
  overflow: visible;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.portfolio-row {
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 0px;
}

.link-block {
  overflow: hidden;
  text-decoration: none;
}

.banner-section {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: hsla(0, 0%, 100%, .89);
}

.banner-container {
  position: static;
  top: -16px;
  z-index: 2;
  text-align: center;
}

.clinets-section {
  height: 655px;
  padding-top: 144px;
  padding-bottom: 90px;
  background-color: rgba(0, 0, 0, .99);
}

.footer {
  height: 100px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  background-color: #000;
}

.address-container {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.line {
  display: block;
  width: 20%;
  height: 2px;
  margin: 15px auto 0px;
  background-color: #09f;
  text-align: center;
}

.clinet-logos-row {
  margin-top: 80px;
}

.big-text {
  margin-top: 0px;
  margin-bottom: -1px;
  font-family: Montserrat, sans-serif;
  color: #1c1c1c;
  font-size: 72px;
  line-height: 120px;
  font-weight: 700;
  letter-spacing: -2px;
}

.footer-copyright {
  font-family: Montserrat, sans-serif;
  color: #555;
  font-size: 11px;
}

.footer-left-column {
  padding-top: 28px;
}

.arrow-down {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 62px;
  display: block;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 43px;
  background-color: #fff;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .13);
  opacity: 0.5;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  text-align: center;
}

.arrow-down:hover {
  opacity: 1;
}

.arrow-down.w--current {
  left: 0px;
  bottom: 0px;
}

.portfolio-title-container {
  text-align: center;
}

.headline {
  position: relative;
  left: 10%;
  top: 22%;
  width: 400px;
  padding-right: 30px;
}

.big-text-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 70px;
  line-height: 120px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.footer-container {
  border-top-style: solid;
  border-top-width: 1px;
}

.social-link {
  margin-right: 20px;
  font-family: Montserrat, sans-serif;
  color: #555;
  font-size: 12px;
  text-decoration: none;
}

.social-link:hover {
  color: #09f;
}

.footer-right-column {
  padding-top: 28px;
  text-align: right;
}

.section-info {
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 1px solid #ebebeb;
  background-color: hsla(0, 0%, 94%, .89);
}

.work-info-container {
  text-align: center;
}

.work-section {
  margin-bottom: 60px;
  padding-right: 120px;
  padding-left: 120px;
}

.images-div {
  margin-bottom: 30px;
  text-align: center;
}

.arrow-link {
  width: 50px;
}

.work-hero {
  height: 100%;
  background-color: #f7f7f7;
  background-image: url('../images/Girl_phone.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.portfolio-item {
  overflow: hidden;
}

.portfolio-item._3 {
  text-align: center;
}

.navbar1 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-right: 10px;
  padding-left: 30px;
  background-color: transparent;
}

.menu-button-2.w--open {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 20;
  margin-right: 10px;
  background-color: transparent;
  font-size: 14px;
}

.brand2 {
  position: absolute;
  z-index: 10;
  padding-top: 20px;
}

.brand2.w--current {
  position: relative;
  z-index: 10;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
}

.menu-icon-2 {
  display: block;
  overflow: visible;
  background-color: transparent;
  opacity: 0.7;
  color: #333;
  font-size: 32px;
}

.menu-icon-2:hover {
  opacity: 1;
  color: #303030;
}

.nav-menu-open {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  padding-top: 0px;
  background-color: transparent;
  text-align: center;
}

.navlink1 {
  display: inline-block;
  font-family: Montserrat, sans-serif;
  color: #909090;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: none;
}

.navlink1:hover {
  color: #303030;
}

.navlink1.w--current {
  color: #303030;
}

.link-text {
  text-decoration: line-through;
}

.big-text-div-2 {
  position: static;
  top: 75%;
  bottom: 0px;
  display: block;
  margin: 0px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.ralated-work {
  padding: 120px;
  background-color: #fafafa;
}

.section-team {
  padding-top: 20px;
  padding-bottom: 140px;
}

.team-image {
  width: 300px;
  height: 383px;
  background-image: url('../images/team1.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.next-portfolio-item {
  padding-bottom: 60px;
}

.next-column {
  padding-left: 80px;
  text-align: left;
}

.prev-column {
  padding-right: 80px;
  text-align: right;
}

.prev-arrow {
  opacity: 0.5;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.prev-arrow:hover {
  opacity: 1;
}

.next-arrow {
  opacity: 0.5;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.next-arrow:hover {
  opacity: 1;
}

.play-icon {
  opacity: 0.5;
}

.play-icon:hover {
  opacity: 1;
}

.team-1 {
  position: static;
}

.team-info {
  margin-top: 20px;
  background-color: #fff;
}

.social-icon {
  margin-right: 5px;
  opacity: 0.5;
  text-align: center;
}

.social-icon:hover {
  opacity: 1;
}

.social-links {
  display: block;
  margin: 15px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.team-1-hover {
  width: 100%;
  height: 100%;
  background-image: url('../images/team1-1.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.team-2 {
  position: static;
}

.team-2-image {
  width: 300px;
  height: 383px;
  background-image: url('../images/team2.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.team-2-hover {
  width: 100%;
  height: 100%;
  background-image: url('../images/team2-2.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.team-3-image {
  width: 300px;
  height: 383px;
  background-image: url('../images/team3.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.team-3-hover {
  width: 100%;
  height: 100%;
  background-image: url('../images/team3-3.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.dark-section {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 150px;
  border-top: 1px solid #f2f2f2;
  background-color: hsla(0, 0%, 100%, .89);
  opacity: 1;
}

.gallery-row {
  margin-top: 40px;
}

.gallery-container {
  margin-top: 40px;
  text-align: center;
}

.testimonial-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: hsla(0, 0%, 94%, .89);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.slide-1 {
  padding-top: 45px;
  background-color: #fff;
}

.testimonial-name {
  margin-top: 60px;
  color: #1c1c1c;
}

.slider-icons {
  opacity: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #303030;
}

.slider-icons:hover {
  opacity: 1;
}

.slide-2 {
  padding-top: 45px;
  background-color: #fff;
}

.slide-3 {
  padding-top: 45px;
  background-color: #fff;
}

.text-field {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.text-area {
  margin-bottom: 30px;
  border-radius: 3px;
}

.form-title {
  text-align: left;
}

.social-left {
  text-align: left;
}

.social-right {
  text-align: right;
}

.social-row {
  margin-top: 60px;
}

.form-section {
  padding: 120px;
  border-top: 1px solid #f2f2f2;
  background-color: #fafafa;
}

.contact-header {
  height: 622px;
  padding-top: 200px;
  background-color: #f7f7f7;
  background-image: url('../images/padded-room.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
}

.white-head-line {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 20px;
  color: #333;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}

.contact-info {
  text-align: center;
}

.hello-info {
  text-align: center;
}

.hero-text {
  position: relative;
  z-index: 2;
  text-align: center;
}

.div-block {
  margin-top: 1px;
  text-align: center;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: #333;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: visible;
  background-image: url('../images/coindash.png');
  background-position: 0px 0px;
  background-size: 1000px;
}

.image-2 {
  display: block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.column {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  padding-left: 10px;
}

.image-3 {
  display: block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.image-4 {
  display: block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  text-align: center;
}

.heading-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #666;
}

.section {
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
}

.div-block-2 {
  padding-top: 90px;
  opacity: 1;
}

.text-block {
  position: relative;
  top: 50%;
  bottom: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  color: #cacaca;
  font-size: 40px;
  text-align: center;
}

.bold-text {
  position: absolute;
  left: 0px;
  top: 44px;
  right: 0px;
  bottom: 0px;
  display: inline;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
}

.column-2 {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.slide-4 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-bottom: 0px;
  float: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slide-nav {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column-3 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.right-arrow-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-2 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.row {
  overflow: hidden;
  -webkit-transition: margin 200ms ease;
  transition: margin 200ms ease;
}

.slide-5 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  float: none;
}

.slide-6 {
  display: inline;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slide-7 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
}

.slide-8 {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  overflow: hidden;
}

.text-block-3 {
  position: relative;
  left: 167px;
  top: 12px;
  right: 0px;
  bottom: 0px;
  color: #cacaca;
  font-size: 40px;
}

.text-block-4 {
  position: fixed;
  left: 0px;
  top: 29px;
  right: 0px;
  bottom: 0px;
  font-size: 50px;
  text-align: center;
}

.slide-9 {
  overflow: hidden;
}

.container {
  overflow: hidden;
}

.heading-3 {
  margin-bottom: 0px;
  color: #8a5c5c;
}

.section-2 {
  margin-top: 60px;
  margin-bottom: 60px;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.button-2 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 25px 40px 20px;
  border: 0px solid #000;
  border-radius: 30px;
  background-color: #666;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  text-align: center;
}

.div-block-3 {
  text-align: center;
}

.div-block-4 {
  text-align: center;
}

.image-5 {
  position: relative;
  display: block;
  overflow: visible;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 0px;
  border-style: none;
  border-color: rgba(0, 0, 0, .7);
  border-radius: 10px;
  background-image: url('../images/Muchwowbackground.jpg');
  background-position: 0px 0px;
  background-size: 2769px;
  opacity: 0.8;
}

.row-2 {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #fff;
  opacity: 1;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 40px;
  color: #333;
  font-size: 48px;
  line-height: 100px;
  text-align: center;
}

.link {
  text-decoration: underline;
}

.div-block-5 {
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
}

.paragraph {
  position: static;
  bottom: -20px;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  float: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #707070;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
}

.div-block-6 {
  text-align: center;
}

.heading-5 {
  text-align: center;
}

.section-3 {
  background-image: url('../images/Background.jpg');
  background-position: 0px 0px;
  background-size: 959px;
}

.section-4 {
  position: static;
  display: block;
  margin: 0px auto;
  background-color: #1c1c1c;
  background-image: url('../images/Background.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
  text-align: center;
}

.div-block-7 {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.div-block-8 {
  text-align: center;
}

.column-4 {
  position: static;
  display: block;
  overflow: visible;
  padding-top: 0px;
  padding-right: 60px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #1b1b1b;
  opacity: 1;
}

.text-block-5 {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: transparent;
  color: #666;
  font-size: 20px;
  text-align: center;
}

.div-block-9 {
  padding-bottom: 0px;
  text-align: center;
}

.text-block-6 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #8a5c5c;
  font-size: 28px;
  text-align: center;
}

.div-block-10 {
  display: block;
  text-align: left;
}

.div-block-11 {
  text-align: center;
}

.image-6 {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  clear: none;
}

.image-7 {
  position: static;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  text-align: center;
}

.image-71 {
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: inline-block;
}

.image-72 {
  position: relative;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  -webkit-transition: opacity 200ms cubic-bezier(.649, -.128, .735, .045);
  transition: opacity 200ms cubic-bezier(.649, -.128, .735, .045);
  text-align: center;
}

.container-2 {
  position: static;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  text-align: center;
}

.html-embed {
  position: static;
  display: block;
  overflow: scroll;
  width: 100%;
  height: 100%;
  text-align: left;
}

.container-3 {
  text-align: center;
}

.html-embed-2 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.row-3 {
  margin-top: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.html-embed-3 {
  overflow: visible;
  padding-right: 40px;
  padding-left: 40px;
  border: 4px solid #000;
  text-align: left;
}

.container-4 {
  overflow: visible;
  height: auto;
}

.div-block-12 {
  position: static;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 0px;
  border-style: none;
  border-color: #000;
  background-color: #fff;
  opacity: 0.9;
  text-align: left;
}

.image-73 {
  color: #333;
}

.heading-6 {
  margin-top: 40px;
  color: #1c1c1c;
}

.heading-7 {
  color: #1c1c1c;
}

.heading-8 {
  color: #707070;
}

.heading-9 {
  color: #707070;
}

.body {
  height: auto;
}

.text-block-7 {
  padding-top: 40px;
  color: #707070;
  font-size: 24px;
  text-align: center;
}

.div-block-14 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 0px;
}

.div-block-15 {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.heading-10 {
  margin-top: 40px;
}

.container-5 {
  padding-bottom: 0px;
  text-align: center;
}

.text-block-8 {
  margin-right: 0px;
  margin-left: 40px;
  padding-right: 0px;
  padding-left: 0px;
  color: #1c1c1c;
  font-style: normal;
  text-align: left;
}

.text-block-9 {
  color: #1c1c1c;
  text-align: left;
}

.row-4 {
  margin-top: 40px;
  text-align: center;
}

.row-4-copy {
  margin-top: 20px;
  text-align: center;
}

.clock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clock-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading-11 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 28px;
  font-style: normal;
}

.particle-network-animation {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #fff;
}

.row-5 {
  position: relative;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px 0px;
  line-height: 30px;
}

.div-block-16 {
  position: static;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 30px;
}

.div-block-17 {
  position: static;
  left: 0px;
  top: 0px;
  display: block;
  width: 100%;
  margin: 0px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 20px;
  text-align: center;
}

.container-6 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-12 {
  color: #666;
}

.heading-13 {
  color: #666;
}

.heading-14 {
  color: #707070;
}

.section-6 {
  background-color: rgba(235, 246, 246, .89);
}

.column-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-15 {
  margin-bottom: 40px;
  font-size: 48px;
}

.heading-16 {
  position: static;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-75 {
  text-align: center;
}

.div-block-19 {
  text-align: center;
}

.heading-17 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-18 {
  margin-bottom: 40px;
  text-decoration: none;
}

.div-block-20 {
  margin-top: 0px;
  padding-top: 0px;
  background-color: #fff;
}

.section-7 {
  margin-top: 0px;
  padding-top: 40px;
  background-color: hsla(0, 0%, 94%, .89);
}

.row-6 {
  border-style: none;
  border-color: #000;
}

.section-full-about {
  height: 100%;
}

.section-full-about._1 {
  position: relative;
  padding-top: 200px;
  padding-bottom: 100px;
  border: 5px none #000;
  background-color: hsla(0, 0%, 100%, 0);
}

.section-full-about._3 {
  position: static;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: hsla(0, 0%, 94%, .89);
}

.section-full-about.abour3 {
  position: static;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 120px;
  padding-bottom: 40px;
  background-color: hsla(0, 0%, 100%, .89);
}

.heading-19 {
  padding-right: 20px;
  padding-left: 20px;
  line-height: 35px;
  text-align: center;
}

.section-8 {
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
  background-color: hsla(0, 0%, 94%, .89);
}

.heading-20 {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 0px;
  font-size: 48px;
}

.big-text-2-copy {
  margin-top: 40px;
  margin-bottom: 80px;
  padding-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.column4 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  padding-left: 0px;
}

.html-embed-4 {
  background-color: hsla(0, 0%, 94%, .89);
}

.div-block-21 {
  position: static;
  margin-bottom: 0px;
  padding-top: 40px;
  text-align: center;
}

.div-block-22 {
  padding-top: 0px;
  text-align: center;
}

.lightbox-link {
  padding-top: 20px;
  line-height: 50px;
}

.heading-21 {
  margin-bottom: 20px;
}

.heading-22 {
  margin-top: 40px;
}

.image-76 {
  width: 250px;
  background-color: transparent;
  text-align: center;
}

.image-77 {
  width: 250px;
  text-align: center;
}

.div-block-23 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.div-block-24 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.html-embed-5 {
  height: 500px;
}

.text-block-10 {
  font-family: 'EB Garamond', sans-serif;
  color: #707070;
  text-align: center;
}

.div-block-25 {
  text-align: center;
}

html.w-mod-js *[data-ix="portfolio-item-up"] {
  opacity: 0;
  -webkit-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate(0px, 200px);
}

html.w-mod-js *[data-ix="portfolio-item-down"] {
  opacity: 0;
  -webkit-transform: translate(0px, -200px);
  -ms-transform: translate(0px, -200px);
  transform: translate(0px, -200px);
}

html.w-mod-js *[data-ix="new-interaction"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="new-interaction-2"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="team-1-hover-no-show"] {
  display: none;
}

html.w-mod-js *[data-ix="team-2-hover-no-show"] {
  display: none;
}

html.w-mod-js *[data-ix="team-3-hover-no-show"] {
  display: none;
}

html.w-mod-js *[data-ix="gallery-column"] {
  -webkit-transform: scale(0.6000000000000001, 0.6000000000000001);
  -ms-transform: scale(0.6000000000000001, 0.6000000000000001);
  transform: scale(0.6000000000000001, 0.6000000000000001);
}

html.w-mod-js *[data-ix="heres-what-we-think"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="the-modern-web-is-elegant"] {
  opacity: 0;
  -webkit-transform: translate(0px, -33px);
  -ms-transform: translate(0px, -33px);
  transform: translate(0px, -33px);
}

html.w-mod-js *[data-ix="play-icon"] {
  opacity: 0.01;
  -webkit-transform: scale(0.54, 0.54);
  -ms-transform: scale(0.54, 0.54);
  transform: scale(0.54, 0.54);
}

html.w-mod-js *[data-ix="the-color-of-black-gold"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

html.w-mod-js *[data-ix="start-your-project-btn"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

@media (max-width: 991px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    margin-top: -11px;
    padding-right: 0px;
    font-size: 22px;
  }
  h3 {
    font-size: 12px;
  }
  h4 {
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
  }
  h5 {
    line-height: 40px;
  }
  .section-full._1 {
    padding: 0px 20px;
    background-color: #e1e1e1;
    background-position: 50% -72px;
    background-attachment: scroll;
  }
  .section-full._3 {
    height: auto;
  }
  .color-section {
    height: 340px;
    padding-top: 95px;
  }
  .portfolio-section {
    margin-top: -75px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .portfolio-column {
    position: relative;
    left: 0px;
    top: 0px;
    display: block;
  }
  .big-text {
    display: block;
    font-size: 48px;
  }
  .arrow-down {
    display: none;
  }
  .headline {
    left: 10%;
    top: 70%;
    width: 600px;
    padding-right: 0px;
    text-align: center;
  }
  .big-text-2 {
    font-size: 56px;
  }
  .section-info {
    padding: 80px 20px;
  }
  .work-section {
    padding-right: 60px;
    padding-left: 60px;
  }
  .nav-menu-open {
    height: 100%;
    padding-top: 100px;
    background-color: #fff;
  }
  .navlink1 {
    display: block;
    text-align: center;
  }
  .ralated-work {
    padding: 50px 10px;
  }
  .gallery-row {
    margin-top: 20px;
  }
  .testimonial-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .testimonial-name {
    margin-top: 40px;
    font-size: 24px;
  }
  .form-title {
    font-size: 20px;
  }
  .form-section {
    padding: 10px;
  }
  .hero-text {
    padding-top: 150px;
    text-align: center;
  }
  .section {
    height: auto;
    margin-top: 0px;
  }
  .div-block-4 {
    padding-top: 47px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .heading-4 {
    line-height: 48px;
  }
  .div-block-12 {
    background-color: #fff;
    background-image: none;
  }
  .section-full-about._1 {
    padding: 0px 20px;
    background-color: #e1e1e1;
    background-position: 50% -72px;
    background-attachment: scroll;
  }
  .section-full-about.abour3 {
    height: auto;
  }
  .big-text-2-copy {
    font-size: 56px;
  }
  .column-8 {
    position: static;
  }
  .column-9 {
    position: static;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 18px;
    line-height: 35px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    line-height: 42px;
  }
  .section-full._1 {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: none;
  }
  .section-full._3 {
    background-image: none;
  }
  .color-section {
    height: 286px;
  }
  .portfolio-section {
    padding-bottom: 60px;
  }
  .portfolio-column {
    margin-bottom: 40px;
  }
  .clinets-section {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .big-text {
    margin-bottom: 0px;
    font-size: 36px;
  }
  .footer-left-column {
    padding-top: 20px;
    text-align: center;
  }
  .arrow-down {
    display: none;
  }
  .headline {
    left: 0px;
    top: 10%;
    width: 530px;
  }
  .big-text-2 {
    margin-bottom: 36px;
    font-size: 40px;
  }
  .footer-right-column {
    padding-top: 15px;
    text-align: center;
  }
  .section-info {
    padding: 60px 20px 40px;
  }
  .work-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar1 {
    padding-right: 0px;
    padding-left: 10px;
  }
  .menu-button-2.w--open {
    margin-right: 0px;
  }
  .ralated-work {
    padding: 0px;
  }
  .section-team {
    text-align: center;
  }
  .next-column {
    margin-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .prev-column {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .dark-section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .gallery-column {
    margin-bottom: 20px;
  }
  .testimonial-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .testimonial-name {
    margin-top: 30px;
    font-size: 20px;
  }
  .social-left {
    margin-bottom: 20px;
    text-align: center;
  }
  .social-right {
    margin-bottom: 20px;
    text-align: center;
  }
  .social-center {
    margin-bottom: 20px;
    text-align: center;
  }
  .form-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .client-logos {
    margin-bottom: 30px;
  }
  .hero-text {
    padding-top: 60px;
    text-align: center;
  }
  .container-4 {
    height: auto;
  }
  .row-5 {
    padding-bottom: 0px;
  }
  .div-block-16 {
    width: 100%;
  }
  .section-full-about._1 {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url('../images/front-bg.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-full-about._3 {
    background-image: none;
  }
  .section-full-about.abour3 {
    background-image: none;
  }
  .section-8 {
    height: auto;
  }
  .big-text-2-copy {
    margin-bottom: 36px;
    font-size: 40px;
  }
  .heading-21 {
    margin-top: 0px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    display: block;
    margin-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 22px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 21px;
    line-height: 30px;
  }
  h6 {
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
  }
  .section-full._1 {
    padding-top: 60px;
    padding-right: 10px;
    padding-left: 10px;
    background-image: none;
    text-align: center;
  }
  .section-full._3 {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: none;
  }
  .color-section {
    height: 232px;
    padding-top: 51px;
    padding-bottom: 40px;
  }
  .portfolio-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .portfolio-column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .portfolio-row {
    margin-bottom: 0px;
  }
  .clinets-section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer {
    height: 145px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .big-text {
    font-size: 27px;
    line-height: 41px;
  }
  .headline {
    top: 10%;
    width: 300px;
  }
  .big-text-2 {
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 48px;
  }
  .footer-container {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .social-link {
    display: block;
    margin-top: 8px;
    margin-right: 0px;
  }
  .footer-right-column {
    position: relative;
  }
  .section-info {
    padding: 40px 12px;
  }
  .work-info-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .work-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar1 {
    padding-right: 0px;
    padding-left: 10px;
  }
  .nav-menu-open {
    height: 100%;
    padding-top: 74px;
    text-align: center;
  }
  .navlink1 {
    display: block;
    text-align: center;
  }
  .big-text-div-2 {
    top: 60%;
  }
  .about-header {
    background-position: 76% 50%;
  }
  .section-team {
    padding-bottom: 60px;
  }
  .team-1 {
    margin-bottom: 30px;
    text-align: center;
  }
  .team-2 {
    margin-bottom: 30px;
    text-align: center;
  }
  .team-3 {
    margin-bottom: 30px;
    text-align: center;
  }
  .dark-section {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .gallery-row {
    margin-top: 0px;
  }
  .gallery-column {
    margin-bottom: 20px;
  }
  .testimonial-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .testimonial-name {
    margin-top: 20px;
  }
  .heading {
    padding-right: 20px;
    padding-left: 20px;
  }
  .column {
    margin-bottom: 20px;
  }
  .section {
    margin-top: 0px;
    padding-top: 0px;
  }
  .row-5 {
    width: 100%;
    margin-bottom: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .heading-14 {
    text-decoration: underline;
  }
  .column-5 {
    padding-left: 30px;
  }
  .section-full-about._1 {
    padding-top: 60px;
    padding-right: 10px;
    padding-left: 10px;
    background-image: url('../images/front-bg.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-align: center;
  }
  .section-full-about._3 {
    background-image: none;
  }
  .section-full-about.abour3 {
    background-image: none;
  }
  .section-8 {
    height: auto;
  }
  .big-text-2-copy {
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 48px;
  }
  .heading-21 {
    margin-top: 20px;
  }
  .column-6 {
    margin-bottom: 20px;
  }
  .column-7 {
    margin-bottom: 20px;
  }
  .heading-23 {
    text-decoration: underline;
  }
  .heading-24 {
    text-decoration: underline;
  }
  .heading-25 {
    text-decoration: underline;
  }
}

